.cat-wrapper{
    background: black;
    width: 18%;
    color: white;
    height: auto;
    padding: 8px 20px;
    border-radius: 21px 0;
}

.cat-head{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.cats{
    font-size: 18px;
    text-transform: capitalize;
    padding-top: 10px;
    transition:calc(0.9s);
    cursor: pointer;
}

.cats:hover{
    font-size: 22px;
    text-decoration: underline; 
    transform: scale(0.7);
  
    
   
}
    